body, html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url(/images/background-home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.header {
    width: 100%;    
    padding-right: 20px;
}

.img-login {
    display: block; margin-left: 45%;
    height: 90px;
}

#logo {
    display: inline;
    float: left;
    padding-left: 30px;
    position: relative;
}

#slogan {
    color: white;    
    font-family: 'Ephesis', cursive;    
    position: absolute;
    text-align: center;
    top: 80%;
    width: 100%;
}

#slogan h1{
    font-size: 60px;
}