<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/css/style.css">
    <title>Sistema de Inventario - NISSAN</title>
</head>
<body>    
    <div class="header">
        <img alt="logo" id="logo" src="/images/logo.png">
        <div id="login">
            <img alt="user-logo" src="/images/user-logo.png">
            <a href="#">Login</a>
        </div>        
    </div>  

    <div id="slogan">
        <h1>Be more wherever you go. Be Nissan.</h1>
    </div>
    
    <div class="bg"></div>

    
</body>
</html>